body {
	margin:0;
	font-family: "Ubuntu Beta", "UbuntuBeta", "Ubuntu", "Bitstream Vera Sans", "DejaVu Sans", "Tahoma", sans-serif;
	text-shadow: none;
	background-color: rgba(189, 183, 107, 0.46);

}

.enter_text {
	font-weight: 400;
	margin: 30px 0px 32px 8px;
}

#scrolled {
	margin:10px;
	background-color: white;
	overflow:hidden;
}

.head {
	width:100%;
}

.forum-section {
	margin:0px 20px 0px 20px;
	height:40px;
	background-color: #f0f0f0;
	border: 1px solid #eee;
	border-top:0px;
	border-radius: 0px 0px 10px 10px;
}

.forum-section > li {
	padding:10px;
	display:inline-block;
	border-right:1px solid #ccc;
}

.main {
	margin: 50px 10px 0 10px;
}

.all-item {
	margin-bottom:40px;
}

.labellistteam {
	padding: 5px;
	padding-left: 20px;
	border-radius:7px;
	color:white;
}

.list-team {
	margin-top:4px;
	width:100%;
	margin-bottom:20px;
}

.item {
	
}

.block-item {
	border: 1px solid #f1f1f1;
	float:left;
	margin-right:3px;
	padding: 0.3em 0.7em;

}

.imgitem {
	width:65px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #e8e8e8;
}

.imgitem >img {
	margin: auto 0;
}


.nameitem {
	width:57%;
	background-color: #F7F7F7;
}

.nameitem > p {
	padding:0;
	margin:0;
	color:rgba(0, 0, 0, 0.37);
}

.varmas {
	width:15%;
	background-color: #e8e8e8;
	text-align:center;
	font-size: 13px;
}

.newmas {
	width:23%;
	background-color: #F7F7F7;
	text-align:center;
	font-size: 13px;
}

.subject {
	font-size: 16px;
	line-height: 20px;
	color: #dd4814;
	text-decoration: none;
}

.stat_bottom {
	border-radius:7px;
	border:1px solid #f1f1f1;
	overflow:hidden;
	background: #f7f7f7;
	margin-top:30px;
}

.label_stat {
	
	background-color:#dfdfdf;
	padding: 5px;
	padding-left: 20px;
	color:black;
}

.body_stat {
	margin:10px;
	font-size:12px;
}

.all-item > h3 {
	font-size: 25px;
	font-weight: 400;
	color: #aaa;
}

.body_item {

}

.message {
	margin-bottom:2px;
	border: 1px solid #eee;
	position:relative;
}

.message:nth-child(odd) {
	width:100%;
	overflow:hidden;
	border-radius:5px;
	background-color: #e8e8e8;
}

.message:nth-child(even) {
	width:100%;
	overflow:hidden;
	border-radius:5px;
	background-color: #f7f7f7;
}

.from_user {
	text-align:center;
	position: absolute;
	bottom: 0;
	top: 0;
	width:180px;
	float:left;
	border-right:1px solid #ccc;
}

.from_user > h4 {
	font-weight: 400;
	color: #333;
	padding: 0;
	font-size: 17px;
}

.message > p {
	margin-left:200px;
	margin-top:7px;
	margin-bottom:7px;
}

.meta_message > .note {
	float:left;
	padding: 6px 10px 6px 3px;
}

.meta_message > a {
	text-decoration: none;
	color: #dd4814;
	font-weight: 400;
	font-size: 1em;
}

.quote_icon {
	float: right;
position: relative;
top: -12;
left: -18;
width: 24px;
cursor: pointer;
}

.meta_message > span {
	font-size: 12px;
	line-height: 16px;
}

.body_message {
	border-top: 1px solid #bbb;
	margin: 0 1em 0 0;
	padding:10px 0px;
	word-wrap: break-word;
	margin-left: 200px;	
}

.page {
	margin:7px;
	font-size:12px;
}

.page > a {
	text-decoration: none;
	background-color: #dadada;
	color: black;	
	padding: 5px;
	margin-right:3px;
	border-radius: 5px;
}

.add_message {
	float:right;
	color: white;
	font-size: 17px;
	padding: 8px;
	border-radius: 5px;
	position: relative;
	top: -10;
	cursor: pointer;
 
}

.body_item > .add_message {
	top:0;
	margin-top:5px;
}

.form_add_message {
	display:none;
	position:fixed;
	bottom:0;
	width:100%;
	background-color:white;
	box-shadow: -15px -8px 19px 6px rgba(0, 0, 0, .3);
	padding:5px;
}

.edit-item {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	padding:10px;
}
.edit-color > span {
	margin-top:6px;
	color: #595959;
	font-size: 13px;
}

.control-label {
	margin-top: 0px;
	text-align: right;
	display:block;
	width: 160px;
	float:left;
}

.edit-color {
	padding: 10px;
	position: relative;
	border-left: 1px solid #eee;
	margin-left:180px;
	margin-top: -10px;
	margin-bottom: -10px;
	padding:10px;
}

input {
	padding:5px;
}

.save2 {
	float:left;
	border-width:0;
	background-color: #35aa47;
	color: white;
	font-size: 17px;
	padding: 8px;
	border-radius: 5px;
	position: relative;
	top: -10;
	cursor: pointer;
}

.close {
	background-color: #4d90fe;
}

blockquote {
	background-color:rgba(0, 0, 0, 0.2);
	margin-left: 30px;
	padding:5px;
}
