@font-face {
	font-family: Pompadur; /* Гарнитура шрифта */
	src: url(default.woff); /* Путь к файлу со шрифтом */
}

body {
	
	font-size: 16pt;
	margin: 0;
	background-color:#ffefd5;

}

.head_block {
	overflow:auto;
	display:block;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 4%;
	background-color: white;
	box-shadow: 0px 0px 7px 3px rgba(0,0,0,.1);
	padding:10px;
	border-radius: 0 0 10px 10px;

}

.head_info_block {
	display:block;
}

.gerb {
	display: block;
	float:left;
}

.title {
	display:inline;
	width:90%;
	vertical-align:middle;
	float:left;
	text-align:center;
	font-size:60pt;
}

.content_block {
	overflow:auto;
	display:block;
	width: calc(80% + 20px);
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 7px 3px rgba(0,0,0,.1);
}

.menu {
	
	overflow:auto;
}

.menuitem {
font-family: Pompadur;
	display:block;
	float:left;
	width:20%;

}

.menuitem:hover {
		background-color: rgba(0,0,0,.1);
	-webkit-transition: all 0.5s ease-out;
	-webkit-transition-delay: 0.0s;
	-moz-transition: all 0.5s ease-out;
	-moz-transition-delay: 0.0s;
	-khtml-transition: all 0.5s ease-out;
	-khtml-transition-delay: 0.0s; 
}

ul {
	margin:0;
	padding:0;
	text-align:center;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0; 
}

.slide {
	height:300px;
	background-color: rgba(0, 0, 0, 0.1);
	z-index:999;
}

.content {	
	font-size: 15pt;
	margin:20px;
}

p { 
    text-indent: 1.5em;
    text-align: justify;
   }

a {
	text-decoration: none;
    color:black;
}
